h2 Section 3 - Real World Usage
h3 Using Sparql in Web Application
iframe(src='https://query.wikidata.org/' style="height:600px; width:1000px;")
div.row
  textarea(rows="10" cols="105" id="input" spellcheck="false")
div.row
  button(class="btn btn-default col-md-1 col-md-offset-1" id="query") query
  button(class="btn btn-default col-md-1 col-md-offset-3" id="clear") clear
div.row(style="padding-top: 10px;")
  textarea(id="result" rows="15" cols="105")
script.
  var query = function(e) {
    var input = $("#input").val();
    $.ajax({
      url: "https://dbpedia.org/sparql",
      method: "GET",
      data: {
        query: input,
        format: "application/sparql-results+json"
      },
      dataType: "text",
      success: function(data) {
        $("#result").val(data);
        // $("#result").show();
      },
      error: function(error) {
        console.log("error");
      }
    });
  }
  $("#query").click(query);
  $("#clear").click(function() {
    $("#result").val("");
    // $("#result").hide();
  });
h4 Code Snapshot
div.row
  pre(style="margin-left: 0px;").
    var query = function(e) {
      var input = $("#input").val();
      $.ajax({
        url: "https://dbpedia.org/sparql",
        method: "GET",
        data: {
          query: input,
          format: "application/sparql-results+json"
        },
        dataType: "text",
        success: function(data) {
          $("#result").val(data);
          $("#result").show();
        }
      });
    }
h3 Quering Other Sources
h4
  a(href="http://wordnet-rdf.princeton.edu/sparql/") WordNet
  span  A lexical database for English
