h1 Section 1
  h3 What is SPARQL?
    p Pronounced "sparkle"... it is a 'semantic querying language' for databases, able to retrieve and manipulate data stored in RDF (resource description framework) formats.
  h3 English pls
    p It's a querying language (like SQL!) built for "semantic" queries. It's made to be used with large databases of information stored online in RDF format already. So if you wanted to write a query to find "what are all of the wives of US senators?", here's how we'd handle that:
  h3 Sample query
    p sample query here
