h2 Section 3 - Real World Usage
div
  textarea(rows="10" cols="100" id="input")
div
  button(id="query") query
  button(id="clear") clear
pre(id="result")
script.
  var query = function(e) {
    var input = $("#input").val();
    console.log("click");
    $.ajax({
      url: "https://dbpedia.org/sparql",
      method: "GET",
      data: {
        //query: "SELECT ?res WHERE {\
        //  ?src ?rel <http://dbpedia.org/class/yago/Senator110578471>.\
        //  ?src <http://dbpedia.org/property/spouse> ?res\
        //}"
        query: input,
        format: "application/sparql-results+json"
      },
      dataType: "html",
      success: function(data) {
        $("#result").html(data);
      },
      error: function(error) {
        console.log("error");
      }
    });
  }
  $("#query").click(query);
  $("#clear").click(function() {
    $("#result").html("");
  });
