h2 Section 3 - Real World Usage
h3 Using Sparql in Web Application
div
  textarea(rows="10" cols="105" id="input" spellcheck="false")
div.row
  button(class="btn btn-default col-md-1 col-md-offset-1" id="query") query
  button(class="btn btn-default col-md-1 col-md-offset-3" id="clear") clear
div.row(style="padding-top: 10px;")
  pre(class="col-md-8" id="result" style="display: none;")
script.
  var query = function(e) {
    var input = $("#input").val();
    $.ajax({
      url: "https://dbpedia.org/sparql",
      method: "GET",
      data: {
        query: input,
        format: "application/sparql-results+json"
      },
      dataType: "text",
      success: function(data) {
        $("#result").html(data);
        $("#result").show();
      },
      error: function(error) {
        console.log("error");
      }
    });
  }
  $("#query").click(query);
  $("#clear").click(function() {
    $("#result").html("");
    $("#result").hide();
  });
h3 Quering Other Sources
